*{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}

#autocomplete{
    border: 1px solid #DCDCDC;
    max-height: 400px;
    overflow: auto;
}

#autocomplete ul{
    margin-bottom: 0;
}
#autocomplete li{
    padding: 3px 8px;
    cursor: pointer;
}



#autocomplete li div.item{
    display: inline-block;
    padding-left: 85px;
}

#autocomplete li div.title{
    display: inline-block;
    font-weight: bold;
    width: 85px;
    text-align: right;
}

#autocomplete li:hover
{
    background: #dcdcdc;
}
